* {
  color: #0376a8;
  font-family: 'Quicksand', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

body,
#root {
  flex: 1;
}

#root {
  background: linear-gradient(rgba(255, 0, 0, 0.2), transparent),
    linear-gradient(to top left, rgba(0, 255, 0, 0.2), transparent),
    linear-gradient(to top right, rgba(0, 0, 255, 0.2), transparent);
  background-blend-mode: screen;
}
